In [7]:
"hello"

'hello'

In [9]:
#Tuple  constant hote han isma change nahi kr skta han 
# or ye orderded ma element hota han 
#tuple () ma deta han 

first_tuple=(1,2,3,4)
print(first_tuple)

(1, 2, 3, 4)

In [11]:
first_tuple=(11,2,3,4)

In [15]:
set(first_tuple)

{2, 3, 4, 11}

In [23]:
new_tuple = ("imran", "AHsan", "asim")  # A tuple
new_tuple = [2]  # A list, overwrites the previous tuple
print(new_tuple)  # Prints the list [2]

[2]

In [27]:
new_tuple = ("imran", "AHsan", "asim")  # A tuple
print(new_tuple[2])  # Prints the list [2]

asim

In [31]:

list = [1,2,3,4]
list

[1, 2, 3, 4]

In [33]:
list[0]=11
list

[11, 2, 3, 4]

In [45]:
import sys

list=["imran","ahsan","asim"]
tuple= ("imran","ahsan","asim")

print(sys.getsizeof("size of list in storage",list))
print(sys.getsizeof("size of tuple in storage",tuple))

64
65

In [49]:
#nested list and tuple
#[1,2,[5,6,6],4,8,9]
#(1,2,(3,4,5)8,9,0)

nested_tuple= (1,2,(3,4,5),8,9,0)
nested_tuple[2]

(3, 4, 5)

In [51]:
#nested list and tuple
#[1,2,[5,6,6],4,8,9]
#(1,2,(3,4,5)8,9,0)

nested_tuple= (1,2,(3,4,5),8,9,0)
nested_tuple[2][1] #ye tuple ka andr ki index hori ha 2 ka andr kioi specific value ka kiya

4

In [74]:
#Sets
#unique value
# 2 tareeqa han ye to hum {} lagay iska andr jo b likha ga wo as a set consider hoga 
set= {1,2,3,3,45,6}
set

{1, 2, 3, 6, 45}

In [76]:
# loop

list=["imran","ahsan","imran","ahsan"]

for value in list:
    print(value)

imran
ahsan
imran
ahsan

In [82]:
# range loop

for i in range(5): # 0 t0 4 tk chula ga ye 
    print(i)

0
1
2
3
4

In [84]:
# loop ka andr hum sleep b use kr skta han 

import time # sleep ka fucntion ko use krna ka liya import kre ga ye library
list=["imran","ahsan","imran","ahsan"]

for i in range(len(list)):
    print (i,list[i])
    time.sleep(2)
    print ()

0 imran

1 ahsan

2 imran

3 ahsan

In [90]:
#Take 5 input and store them in list and print it one by one
names= []

for i in range(2):
    name = input ("Enter your name ")
    names.append(name)
    print(names)

for i in names:
    print (i)

Enter your name  asad

['asad']

Enter your name  asim

['asad', 'asim']
asad
asim

In [92]:
# Nested loops 

nested_list = [[1,2,3,4,5,6], [1,2,3,5,6,7,8,9], ["imran","asim","asad"]]
#is list m humara pas 3 element han 
for i in nested_list:
    print(i)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6, 7, 8, 9]
['imran', 'asim', 'asad']

In [94]:
# Nested loops 

nested_list = [[1,2,3,4,5,6], [1,2,3,5,6,7,8,9], ["imran","asim","asad"]]
#is list m humara pas 3 element han 
for i in nested_list:
    #humain ab har element ka andr ka number b print krwana ha 
    for j in nested_list:
        print(j)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6, 7, 8, 9]
['imran', 'asim', 'asad']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6, 7, 8, 9]
['imran', 'asim', 'asad']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6, 7, 8, 9]
['imran', 'asim', 'asad']

In [98]:
# Nested loops 

nested_list = [[1,2,3,4,5,6], [1,2,3,5,6,7,8,9], ["imran","asim","asad"]]
#is list m humara pas 3 element han 
for i in nested_list:
    print(i)
    #humain ab har element ka andr ka number b print krwana ha 
    for j in i:
        print(j)

[1, 2, 3, 4, 5, 6]
1
2
3
4
5
6
[1, 2, 3, 5, 6, 7, 8, 9]
1
2
3
5
6
7
8
9
['imran', 'asim', 'asad']
imran
asim
asad

In [130]:
#nested loop kr ka * print krn aha 

# Outer loop to print rows
for i in range(5):
    # Inner loop to print stars in each row
    for j in range(5):
        print("*")  # Print star without moving to a new line
    print()  # Move to the next line after each row

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

In [132]:
# Loop to print 5 rows of stars
for i in range(5):
    print("*" * 5)  # Print 5 stars in a row

*****
*****
*****
*****
*****

In [140]:
# Right-angled triangle pattern
for i in range(1, 6): # When i = 1, "*" * 1 gives "*".
    print("*" * i)    # When i = 2, "*" * 2 gives "**".
                      # When i = 3, "*" * 3 gives "***".

*
**
***
****
*****

In [169]:
# break 

for i in range(5):
    print(i)
    if i==3:
     break

0
1
2
3

In [171]:
#contineous loop

for i in range (12):
    print(i)
    continue   # ye loop ko break nh krta ha iska ahgay ka code run nh hioga lekin loop break nh hoga 
    print("Hello")

0
1
2
3
4
5
6
7
8
9
10
11

In [1]:
#contineous loop

for i in range (6):
    print(i)
    if i==3:      # baqi sub per hello print hoga lekin jub 3 match hoga to 3 ka bad hello print nh hoga kuyn ka contiue loop ko rok deta ha 
       continue   # ye loop ko break nh krta ha iska ahgay ka code run nh hioga lekin loop break nh hoga 
    print("Hello")

0
Hello
1
Hello
2
Hello
3
4
Hello
5
Hello

In [10]:
for i in range (5):
    print ("*" *i )

*
**
***
****

In [ ]:
# working code to generate XlX file generation ka liya with unique entity 
import pandas as pd
from faker import Faker
import os

# Initialize Faker to generate fake data
fake = Faker()

# Create empty lists for the data
first_names = []
last_names = []
emails = set()  # Using a set to ensure unique emails

# Track unique combinations of first and last names
name_combinations = set()

# Generate 100 unique records
while len(first_names) < 800000:
    first_name = fake.first_name()
    last_name = fake.last_name()

    # Check if the combination of first name and last name is unique
    if (first_name, last_name) not in name_combinations:
        # Create a unique email address
        email = f"{first_name.lower()}.{last_name.lower()}@example.com"
        
        # Ensure the email is unique
        if email not in emails:
            # Add unique data to the lists and sets
            first_names.append(first_name)
            last_names.append(last_name)
            emails.add(email)
            name_combinations.add((first_name, last_name))

# Create DataFrame
data = pd.DataFrame({
    "First Name": first_names,
    "Last Name": last_names,
    "Email": list(emails)
})

# Save to Excel file and print confirmation
file_path = "unique_names_emails.xlsx"
data.to_excel(file_path, index=False)
print(f"File saved as {file_path}")