<h1>List Basics</h1>

In [10]:
# List bnata kysa han 

imran=[]     #[] brackets list ko indicate krta ha pechan ha list ki ye empty list ha 

                  # hum list kisi b data ka st bana skta han charactor integer ya phr mix data.

#Charactor list define krna ka tareeqa
Charac_list=["red", "green","blue"] 

# Intiger list bnana ka tareeqa 
intlist=[1,2,3,4]

# mix list
mix_list=["horse",4,"owl","elephant",6,7] 

print(Charac_list)
print(intlist)
print(mix_list)

['red', 'green', 'blue']
[1, 2, 3, 4]
['horse', 4, 'owl', 'elephant', 6, 7]

<h1>Search specific value in the list</h1>

In [25]:
 mix_list=["horse",4,"owl","elephant",6,7] 

 #List humara pas 0 sa chulti ha to hum variable ka name dal ka jo address denga wo specific use le ayee ga 

 print (mix_list[3])

elephant

In [29]:
# Agr mujha specific element list ki form m print krna ha to ma aisia karu ga 

print(mix_list[2:4])

['owl', 'elephant']

<h1>Adding Elements to a List</h1>

In [ ]:
# For adding element we use certain methods
# append(): Single element ko end me add karein.
# insert(): Specific index par element add karein.
# extend(): Multiple elements ko add karein.

<h3>Append Examples</h3>

In [34]:
# append(): Single element ko end me add karna ka liya use hota ha ye end ma hi add krta ha value.

# Creating an empty list
my_list = []

# Appending elements to the list
my_list.append(10)
my_list.append(20)
my_list.append(30)

print(my_list)  # Output: [10, 20, 30]

[10, 20, 30]

In [36]:
# Creating a list with some string values
my_list = ["apple", "banana"]

# Appending a string to the list
my_list.append("cherry")

print(my_list)  # Output: ["apple", "banana", "cherry"]

['apple', 'banana', 'cherry']

In [38]:
# Creating two lists # Appending a List to Another List
list1 = [1, 2, 3]
list2 = [4, 5]

# Appending list2 to list1
list1.append(list2)

print(list1)  # Output: [1, 2, 3, [4, 5]]

[1, 2, 3, [4, 5]]

In [40]:
# Creating an empty list Appending a Dictionary to a List
my_list = []

# Creating a dictionary
my_dict = {"name": "John", "age": 25}

# Appending the dictionary to the list
my_list.append(my_dict)

print(my_list)  # Output: [{'name': 'John', 'age': 25}]

[{'name': 'John', 'age': 25}]

In [42]:
# Creating an empty list Appending a Tuple to a List
my_list = []

# Creating a tuple
my_tuple = (1, 2, 3)

# Appending the tuple to the list
my_list.append(my_tuple)

print(my_list)  # Output: [(1, 2, 3)]

[(1, 2, 3)]

In [44]:
imran=["imran","ahsan","sia"]
imran.append("jangi")
imran

['imran', 'ahsan', 'sia', 'jangi']

In [56]:
imran_int=[1,2,3]
imran_int.append(56)
print(imran_int)

[1, 2, 3, 56]

In [81]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]

# Append a new list at the end
list_of_lists.append([7, 8])

print(list_of_lists)

[[1, 2], [3, 4], [5, 6], [7, 8]]

<h3>insert(): Adds an element at a specific position:</h3>

In [61]:
# Insert apki list m ap specific jaga per apko value add krna ki sahulat deta ha 

mylist=[1,2,3]

mylist.insert(1, "Python")    #(1) ya index ha position ha ye jahan add krni ha value or ("puthon") iski value ha jo add hogi
print(mylist)  # Output: [1, 'Python', 2, 3]

[1, 'Python', 2, 3]

In [65]:
# Insert apki list m ap specific jaga per apko value add krna ki sahulat deta ha 

mylist=[1,2,3]

mylist.insert(1, 43)    #(1) ya index ha position ha ye jahan add krni ha value or ("puthon") iski value ha jo add hogi
print(mylist)  # Output: [1, 'Python', 2, 3]

[1, 43, 2, 3]

In [67]:
# Creating a list   Insert at the beginning of the list
my_list = [10, 20, 30]

# Inserting 5 at index 0 (beginning of the list)
my_list.insert(0, 5)

print(my_list)  # Output: [5, 10, 20, 30]

[5, 10, 20, 30]

In [69]:
# Creating a list Insert at the end of the list
my_list = [1, 2, 3]

# Inserting 4 at the last position (index = len(my_list))
my_list.insert(len(my_list), 4)

print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [83]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]

# Insert a new list at the second position (index 1)
list_of_lists.insert(1, [7, 8])  # 1 index per ye value insert kr dega 

print(list_of_lists)

[[1, 2], [7, 8], [3, 4], [5, 6]]

In [102]:
# Initial list Inserting a Dictionary into a List
list_of_dicts = [{"name": "Alice"}, {"name": "Bob"}, {"name": "Charlie"}]

# Insert a dictionary at index 1 (second position)
list_of_dicts.insert(1, {"Inserted": "David"})

print("List after insertion:", list_of_dicts)

List after insertion: [{'name': 'Alice'}, {'Inserted': 'David'}, {'name': 'Bob'}, {'name': 'Charlie'}]

<h1>Remove values in the List</h1>

<h3>
remove(value): Removes the first occurrence of value from the list. </br>
pop(index): Removes the element at the specified index (or the last element if no index is specified). </br>
del: Deletes an element or slice of elements by index. </br>
clear(): Removes all elements from the list.
    
</h3>

In [76]:
#remove hum value ko remove krna ka liya use krta han or remove m hum direct value deta ha jo hmne remove krni ha 
my_list = [1, 2, 3, 4]
my_list.remove(3)    # (3) is not a index its a value that exist in list
print(my_list)  # Output: [1, 2, 4]

[1, 2, 4]

In [85]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]

# Remove a specific value from the list
list_of_lists.remove([3, 4])

print(list_of_lists)

[[1, 2], [5, 6]]

<h2> POP</h2>

In [90]:
# ye index ma sa delete krta ha values
list_of_lists = [[1, 2], [3, 4], [5, 6]]

# Remove the element at index 1
list_of_lists.pop(1)

print(list_of_lists)  # List after removal

[[1, 2], [5, 6]]

In [92]:
#agr pop ma index nh diya jyee to ye end wali value delete kr deta ha 

list_of_lists = [[1, 2], [3, 4], [5, 6]]

# Remove the last element (default behavior of pop)
list_of_lists.pop()

print(list_of_lists)  # List after removal

[[1, 2], [3, 4]]

In [98]:
# Appending a Dictionary to a List and Using pop()

# Initial list
list_of_dicts = [{"name": "Alice"}, {"name": "Bob"}, {"name": "Charlie"}]

# Append a dictionary to the list
list_of_dicts.append({"Appended_Name": "David"})

print("List after appending:", list_of_dicts)

# Use pop() to remove the last dictionary (default behavior)
list_of_dicts.pop(1)

print("List after pop:", list_of_dicts)
print("Removed dictionary:", list_of_dicts)

List after appending: [{'name': 'Alice'}, {'name': 'Bob'}, {'name': 'Charlie'}, {'Appended_Name': 'David'}]
List after pop: [{'name': 'Alice'}, {'name': 'Charlie'}, {'Appended_Name': 'David'}]
Removed dictionary: [{'name': 'Alice'}, {'name': 'Charlie'}, {'Appended_Name': 'David'}]

<h2>Modifying Elements in a List</h2>

In [105]:
my_list = [10, 20, 30]
my_list[1] = 25
print(my_list)  # Output: [10, 25, 30]

[10, 25, 30]

In [109]:
# Initial list    Modifying Elements in a List
list_of_dicts = [{"name": "Alice"}, {"name": "Bob"}, {"name": "Charlie"}]

# Modifying the second element (index 1)
list_of_dicts[1] = {"lname": "David"}

print("List after modification:", list_of_dicts)

List after modification: [{'name': 'Alice'}, {'lname': 'David'}, {'name': 'Charlie'}]

In [113]:
#add Dictionary specif value Inside a List 

# Initial list
list_of_dicts = [{"name": "Alice"}, {"name": "Bob"}, {"name": "Charlie"}]

# Modifying a key-value pair in the second dictionary
list_of_dicts[1]["lname"] = "David"

print("List after modifying dictionary value:", list_of_dicts)

List after modifying dictionary value: [{'name': 'Alice'}, {'name': 'Bob', 'lname': 'David'}, {'name': 'Charlie'}]

In [115]:
#modify value in  Dictionary value Inside a List

# Initial list
list_of_dicts = [{"name": "Alice"}, {"lname": "Bob"}, {"mname": "Charlie"}]

# Modifying a key-value pair in the second dictionary
list_of_dicts[1]["lname"] = "David"

print("List after modifying dictionary value:", list_of_dicts)

List after modifying dictionary value: [{'name': 'Alice'}, {'lname': 'David'}, {'mname': 'Charlie'}]

In [117]:
#Using del to Remove a Key-Value Pair

# Initial list
list_of_dicts = [{"name": "Alice"}, {"name": "Bob", "age": 30}, {"name": "Charlie"}]

# Remove the "age" key from the dictionary with "name": "Bob"
del list_of_dicts[1]["age"]

print("List after removing key:", list_of_dicts)

List after removing key: [{'name': 'Alice'}, {'name': 'Bob'}, {'name': 'Charlie'}]

In [119]:
#Using pop() to Remove a Key-Value Pair

# Initial list
list_of_dicts = [{"name": "Alice"}, {"name": "Bob", "age": 30}, {"name": "Charlie"}]

# Remove and return the "age" key from the dictionary with "name": "Bob"
removed_value = list_of_dicts[1].pop("age")

print("List after removing key:", list_of_dicts)
print("Removed value:", removed_value)

List after removing key: [{'name': 'Alice'}, {'name': 'Bob'}, {'name': 'Charlie'}]
Removed value: 30

<h1>Loop in list</h1>

In [122]:
my_list = [1, 2, 3, 4, 5]

# Using a for loop
for item in my_list:
    print(item)

1
2
3
4
5

In [124]:
#Agar aap list ke numbers ko check karna chahte hain ke wo even hain ya odd:
my_list = [1, 2, 3, 4, 5]

# Using a for loop to check even and odd numbers
for item in my_list:
    if item % 2 == 0:
        print(f"{item} is even")
    else:
        print(f"{item} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [126]:
#Multiplying Each Element of a List by 2

my_list = [1, 2, 3, 4, 5]

# Using a for loop to multiply each element by 2
new_list = []
for item in my_list:
    new_list.append(item * 2)

print("New list:", new_list)

New list: [2, 4, 6, 8, 10]

In [128]:
#Finding Maximum and Minimum Value in a List

my_list = [1, 2, 3, 4, 5]

# Using a for loop to find max and min
max_value = my_list[0]  # Initialize with first element
min_value = my_list[0]  # Initialize with first element

for item in my_list:
    if item > max_value:
        max_value = item
    if item < min_value:
        min_value = item

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 5
Minimum value: 1

In [130]:
#Counting Occurrences of an Item in a List

my_list = [1, 2, 3, 2, 4, 2, 5]

# Count occurrences of the number 2
count = 0
for item in my_list:
    if item == 2:
        count += 1

print("Occurrences of 2:", count)

Occurrences of 2: 3

In [132]:
#Reversing a List Using a For Loop

my_list = [1, 2, 3, 4, 5]

# Reversing the list
reversed_list = []
for item in my_list:
    reversed_list.insert(0, item)  # Insert at the beginning of the new list

print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [134]:
#Creating a Dictionary from Two Lists

keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']

# Creating a dictionary using two lists
my_dict = {}
for i in range(len(keys)):
    my_dict[keys[i]] = values[i]

print("Created Dictionary:", my_dict)

Created Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [136]:
#Removing Duplicates from a List

my_list = [1, 2, 2, 3, 4, 4, 5]

# Removing duplicates
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 4, 5]

In [138]:
#sort(): Sort the list in ascending order:

my_list = [5, 2, 9, 1]
my_list.sort()
print(my_list)  # Output: [1, 2, 5, 9]

[1, 2, 5, 9]

In [142]:
#reverse(): Reverse the order of the list:

imran_list=[3,4,7,6]

imran_list.reverse()
print(imran_list)

[6, 7, 4, 3]

<h2>Slicing a List</h2>

In [1]:
my_list = [10, 20, 30, 40, 50]

# Get the first three elements
print(my_list[:3])  # Output: [10, 20, 30]

# Get the last two elements
print(my_list[-2:])  # Output: [40, 50]

[10, 20, 30]
[40, 50]

In [7]:
import pandas as pd
from faker import Faker
import random

# Initialize Faker to generate fake data
fake = Faker()

# Number of records to generate
num_records = 400000

# Generate unique data
data = []
email_set = set()  # To ensure unique emails

for i in range(num_records):
    while True:
        # Fixed first name as "Imran"
        first_name = "Ahsanimran"

        # Generate a unique last name or add uniqueness
        last_name = fake.last_name() + str(i)

        # Generate email with uniqueness
        email = f"{first_name.lower()}.{last_name.lower()}@example.com"
        
        # Ensure unique email
        if email not in email_set:
            email_set.add(email)
            data.append((first_name, last_name, email))
            break

# Convert to DataFrame
df = pd.DataFrame(data, columns=["First Name", "Last Name", "Email"])

# Save to Excel file
file_path = "unique_imran_names.xlsx"
df.to_excel(file_path, index=False)
print(f"File saved as {file_path}")

File saved as unique_imran_names.xlsx