In [1]:
print ("Anaconda")

Anaconda

In [5]:
# ye dono + addition krta han ye 2 tareeqa han addition krnake/
age=1
age= age+2
age+=2
age

5

In [7]:
age=1
age= age-2
age-=2
age

-3

In [9]:
"Imran" + "ahsan"

'Imranahsan'

In [11]:
"Imran","ahsan"

('Imran', 'ahsan')

In [13]:
print("hello","there")

hello there

In [ ]:
"my name is" +name+,"my age is" +age+

SyntaxError: invalid syntax (1151150872.py, line 1)

In [25]:

var = "my age is ",23

In [59]:
#isme aik string ka primt ha dusra int ka to string or int aik st print nh hota to humne isme int ko string 
#bana diya ha 
use #skip kr deta ha hum use last m likha ga humesha ye akhri wali line ko print krta ha agr usme print nh hoto wo 
name="imran"
age=2
"my name is " +name+"\n my age is" +str(age)
print("my name is " +name+"\n my age is " +str(age))

my name is imran
 my age is 2

In [61]:
#isme aik string ka primt ha dusra int ka to string or int aik st print nh hota to humne isme int ko string 
#bana diya ha 
name="imran"
age=2
print("my name is " +name+"\n my age is " +str(age))
"my name is " +name+"\n my age is" +str(age)

my name is imran
 my age is 2

'my name is imran\n my age is2'

In [63]:
if 
    print("")

SyntaxError: invalid syntax (2712809068.py, line 1)

In [65]:
"imran"

'imran'